.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}
.content {
  padding: 20px;
  overflow-y: auto; /* scroll si le contenu dépasse */
  flex: 1; /* prend tout l'espace disponible */
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

/* Sur petits écrans */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
