
.logo {
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.menu li:hover {
  background-color: #343a40;
}

.menu li.active {
  background-color: #0d6efd;
}

.section {
  margin-top: 20px;
  font-size: 12px;
  color: #adb5bd;
  text-transform: uppercase;
}
.sidebar {
  width: 280px;
  height: 100vh;    
  background-color: #212529;
  color: white;
  position: fixed;
  overflow-y: auto; 
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #495057;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #212529;
}

.active {
  background-color: #0d6efd;
}

.logo-container {
  text-align: center;
  padding-top: 20px;
}

.admin-icon {
  font-size: 50px;
  color: #a5a5a5;
  display: block;
}

.logo {
  margin-top: 8px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .sidebar {
    display: none; /* cacher le sidebar sur mobile */
  }
}